USE [InterRapidisimo]
GO
/****** Object:  StoredProcedure [dbo].[sp_Enrollments]    Script Date: 17/08/2024 10:16:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Enrollments]
    @opcion int,
    @id int = 0,
    @studentID int = 0,
    @subjectID int = 0,
    @state bit = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    BEGIN TRY
        BEGIN TRANSACTION;

        IF @opcion = 1
        BEGIN
            SELECT 
            EnrollmentID,
            StudentID,
            SubjectID,
            State
            FROM Enrollments

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 2
        BEGIN
            IF NOT EXISTS(SELECT 1 FROM Enrollments WHERE EnrollmentID = @id)
            BEGIN
                RAISERROR ('La inscripción no existe en la base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La inscripción no existe en la base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La inscripción no existe en la base de datos' as Respuesta
                RETURN;
            END
            ELSE
            BEGIN
                SELECT 
                EnrollmentID,
                StudentID,
                SubjectID,
                State
                FROM Enrollments
                WHERE EnrollmentID = @id

                SELECT 'OK' as Respuesta
            END
        END

        IF @opcion = 3
        BEGIN
            IF EXISTS (SELECT * FROM Enrollments WHERE StudentID = @studentID AND SubjectID = @subjectID AND State = 1)
            BEGIN
                RAISERROR ('El estudiante ya está inscrito en esta materia', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('El estudiante ya está inscrito en esta materia', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: El estudiante ya está inscrito en esta materia' as Respuesta
                RETURN;
            END

            DECLARE @EnrolledSubjects INT;
            SELECT @EnrolledSubjects = COUNT(*) 
            FROM Enrollments 
            WHERE StudentID = @studentID AND State = 1;

            IF @EnrolledSubjects >= 3
            BEGIN
                RAISERROR ('El estudiante ya está inscrito en el máximo de materias permitidas (3)', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('El estudiante ya está inscrito en el máximo de materias permitidas (3)', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: El estudiante ya está inscrito en el máximo de materias permitidas (3)' as Respuesta
                RETURN;
            END

            DECLARE @ProfessorID INT;
            SELECT @ProfessorID = ProfessorID FROM Subjects WHERE SubjectID = @subjectID;

            IF EXISTS (
                SELECT 1 
                FROM Enrollments e
                JOIN Subjects s ON e.SubjectID = s.SubjectID
                WHERE e.StudentID = @studentID 
                AND s.ProfessorID = @ProfessorID 
                AND e.State = 1
            )
            BEGIN
                RAISERROR ('El estudiante ya tiene una clase con este profesor', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('El estudiante ya tiene una clase con este profesor', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: El estudiante ya tiene una clase con este profesor' as Respuesta
                RETURN;
            END

            INSERT INTO Enrollments(StudentID, SubjectID, EnrollmentDate, State) 
            VALUES (@studentID, @subjectID, GETDATE(), 1);

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 4
        BEGIN
            IF NOT EXISTS (SELECT * FROM Enrollments WHERE EnrollmentID = @id)
            BEGIN
                RAISERROR ('La inscripción no existe en nuestra base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La inscripción no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La inscripción no existe en nuestra base de datos' as Respuesta
                RETURN;
            END

            UPDATE Enrollments
            SET State = @state,
                RegistrationUpdate = GETDATE()
            WHERE EnrollmentID = @id;

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 5
        BEGIN
            IF NOT EXISTS (SELECT * FROM Enrollments WHERE EnrollmentID = @id)
            BEGIN
                RAISERROR ('La inscripción no existe en nuestra base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La inscripción no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La inscripción no existe en nuestra base de datos' as Respuesta
                RETURN;
            END

            UPDATE Enrollments
            SET State = 0,
                RegistrationUpdate = GETDATE()
            WHERE EnrollmentID = @id;

            SELECT 'OK' as Respuesta
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
        VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
