USE [InterRapidisimo]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subjects]    Script Date: 17/08/2024 10:04:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Subjects]
    @opcion int,
    @id int = 0,
    @subjectName varchar(100) = '',
    @credits int = 3,
    @professorID int = 0,
    @state bit = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    BEGIN TRY
        BEGIN TRANSACTION;

        IF @opcion = 1
        BEGIN
            SELECT 
            SubjectID,
            SubjectName,
            Credits,
            ProfessorID,
            State
            FROM Subjects

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 2
        BEGIN
            IF NOT EXISTS(SELECT 1 FROM Subjects WHERE SubjectID = @id)
            BEGIN
                RAISERROR ('La materia no existe en la base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La materia no existe en la base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La materia no existe en la base de datos' as Respuesta
                RETURN;
            END
            ELSE
            BEGIN
                SELECT 
                SubjectID,
                SubjectName,
                Credits,
                ProfessorID,
                State
                FROM Subjects
                WHERE SubjectID = @id

                SELECT 'OK' as Respuesta
            END
        END

        IF @opcion = 3
        BEGIN
            IF EXISTS (SELECT * FROM Subjects WHERE SubjectName = @subjectName AND ProfessorID = @professorID)
            BEGIN
                RAISERROR ('La materia ya existe para este profesor en nuestra base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La materia ya existe para este profesor en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La materia ya existe para este profesor en nuestra base de datos' as Respuesta
                RETURN;
            END

            INSERT INTO Subjects(SubjectName, Credits, ProfessorID, RegistrationDate) 
            VALUES (@subjectName, @credits, @professorID, GETDATE());

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 4
        BEGIN
            IF NOT EXISTS (SELECT * FROM Subjects WHERE SubjectID = @id)
            BEGIN
                RAISERROR ('La materia no existe en nuestra base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La materia no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La materia no existe en nuestra base de datos' as Respuesta
                RETURN;
            END

            UPDATE Subjects
            SET SubjectName = @subjectName,
                Credits = @credits,
                ProfessorID = @professorID,
                State = @state,
                RegistrationUpdate = GETDATE()
            WHERE SubjectID = @id;

            SELECT 'OK' as Respuesta
        END

        IF @opcion = 5
        BEGIN
            IF NOT EXISTS (SELECT * FROM Subjects WHERE SubjectID = @id)
            BEGIN
                RAISERROR ('La materia no existe en nuestra base de datos', 16, 1);
                INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
                VALUES ('La materia no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

                SELECT 'Error: La materia no existe en nuestra base de datos' as Respuesta
                RETURN;
            END

            UPDATE Subjects
            SET State = 0,
                RegistrationUpdate = GETDATE()
            WHERE SubjectID = @id;

            SELECT 'OK' as Respuesta
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
        VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
