USE [InterRapidisimo]
GO
/****** Object:  StoredProcedure [dbo].[sp_students]    Script Date: 17/08/2024 10:05:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leonardo Amaya
-- Create date: 17/08/2024
-- Description:	CrudEstudiantes
-- =============================================
ALTER   PROCEDURE [dbo].[sp_students]
	-- Add the parameters for the stored procedure here
	@opcion int,
	@id int = 0,
	@firstName varchar(100) = '',
	@lastName varchar(100) = '',
	@email varchar(100) = '',
	@state bit = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Captura el error
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
	BEGIN TRY
		-- Inicia la transacción
		BEGIN TRANSACTION;

		IF @opcion = 1
		BEGIN
			SELECT 
			StudentID,
			FirstName,
			LastName,
			Email,
			State
			FROM Students

			SELECT 'OK' as Respuesta
		END

		IF @opcion = 2
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM Students WHERE StudentID = @id)
				BEGIN
				 RAISERROR ('El estudiante no existe en la base de datos', 16,1);
				 INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
				 VALUES ('El estudiante no existe en la base de datos', @ErrorSeverity, @ErrorState, GETDATE());

				 SELECT 'Error: El estudiante no existe en la base de datos' as Respuesta
				 RETURN;
				END
			ELSE
				BEGIN
					SELECT 
					StudentID,
					FirstName,
					LastName,
					Email,
					State
					FROM Students
					WHERE StudentID = @id

					SELECT 'OK' as Respuesta
				END
		END

		IF @opcion = 3
		BEGIN
			IF EXISTS (SELECT * FROM Students WHERE FirstName = @firstName AND LastName = @lastName AND Email = @email)
			BEGIN
				RAISERROR ('El estudiante ya existe en nuestra base de datos', 16, 1);
				INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
				VALUES ('El estudiante ya existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

				SELECT 'Error: El estudiante ya existe en nuestra base de datos' as Respuesta
				RETURN;
			END

			INSERT INTO Students(FirstName, LastName, Email, RegistrationDate) 
			VALUES (@firstName, @lastName, @email, GETDATE());

			SELECT 'OK' as Respuesta

		END

		IF @opcion = 4
		BEGIN
			IF NOT EXISTS (SELECT * FROM Students WHERE StudentID = @id)
			BEGIN
				RAISERROR ('El estudiante no existe en nuestra base de datos', 16, 1);
				INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
				VALUES ('El estudiante no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

				 SELECT 'Error: El estudiante no existe en nuestra base de datos' as Respuesta
				RETURN;
			END

			UPDATE Students
			SET FirstName = @firstName,
				LastName = @lastName,
				Email = @email,
				State = @state,
				RegistrationUpdate = GETDATE()
			WHERE StudentID = @id;

			SELECT 'OK' as Respuesta
		END

		IF @opcion = 5
		BEGIN
			IF NOT EXISTS (SELECT * FROM Students WHERE StudentID = @id)
			BEGIN
				RAISERROR ('El estudiante no existe en nuestra base de datos', 16, 1);
				INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
				 VALUES ('El estudiante no existe en nuestra base de datos', @ErrorSeverity, @ErrorState, GETDATE());

				SELECT 'Error: El estudiante no existe en nuestra base de datos' as Respuesta
				RETURN;
			END

			--DELETE FROM Clientes WHERE Id = @id;

			UPDATE Students
			SET State = 0,
				RegistrationUpdate = GETDATE()
			WHERE StudentID = @id;

			SELECT 'OK' as Respuesta

			--SELECT @id = SCOPE_IDENTITY();
		END

		-- Confirma la transacción si todo es exitoso
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH

		-- Revertir la transacción
		ROLLBACK TRANSACTION;

		-- Inserta el error en la tabla de errores
		INSERT INTO Errores (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)
		VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());

		-- Re-lanza el error para su manejo en el cliente
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END
